<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu as un participant en plus !</h1>
    <p>
      Pour voir tous les participants, connecte-toi via : <%= @url %>.
    </p>
    <p>
      Va pas falloir se toucher mon batard.
    </p>
    <p> À bientôt !</p>
  </body>
</html>